$navColor: #1f2637;
$mainFont: "ProximaNova", serif;
$mainFontColor: #444c63;
* {
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(#9966cc, #333399);
  font-family: $mainFont;
}

.logo,
.navigation {
  background-color: $navColor;
}

.main-header {
  color: $mainFontColor;
}

.main-header .row {
  display: flex;
}

.logo {
  img {
    width: 100%;
    height: 100%;
  }
  border-bottom: 10px solid rgba(24, 30, 44, 0.8);
}

.header-section {
  background-color: #eef1f7;
  align-self: stretch;
  padding: 0;
  .header,
  .products-selection {
    padding-left: 15px;
    padding-right: 15px;
  }
  .products-selection {
    display: flex;
    justify-content: space-between;
  }
  .header {
    border-bottom: 5px solid #dadfea;
  }
}

.find,
.weigh,
.buy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-bottom: 10px solid #dadfea;
}

.navigation {
  padding: 0;
}