$navColor: #1f2637;
$mainFont: "ProximaNova", serif;
$mainFontColor: #444c63;
$secondSolor: #eef1f7;
$btnColor: #337ab7;
$footerColor: #181e2c;
* {
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(#9966cc, #333399);
  font-family: $mainFont;
}

.logo,
.navigation {
  background-color: $navColor;
}

.header-section,
.card {
  background-color: $secondSolor;
}

.main-header {
  color: $mainFontColor;
}

.main-header .row,
.main .row {
  display: flex;
}

.logo {
  img {
    width: 100%;
    height: 100%;
  }
  border-bottom: 10px solid rgba(24, 30, 44, 0.8);
}

.header-section {
  align-self: stretch;
  padding: 0;
  .header,
  .products-selection {
    padding-left: 15px;
    padding-right: 15px;
  }
  .products-selection {
    display: flex;
    justify-content: space-between;
  }
  .header {
    border-bottom: 5px solid #dadfea;
  }
}

.find,
.weigh,
.buy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-bottom: 10px solid #dadfea;
}

.navigation {
  padding: 0;
}

.products {
  background-color: white;
}

.product-cat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.card {
  width: 200px;
  margin-bottom: 40px;
  .content {
    text-align: center;
  }
  .name {
    padding: 15px 0;
  }
  .card-btn {
    width: 100%;
    height: 36px;
    color: white;
    background-color: $btnColor;
    border: none;
    font-size: 20px;
  }
}

.footer .container {
  background-color: $footerColor;
  color: white;
  text-align: center;
  padding: 15px;
}